body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 400px;
}

a {
  color: #00B7FF;
}

#homeStoryImage {
	max-width: 95%;
	height: auto;
}

#leftNav {
	/* Stupid FrontRunner Wifi... verify that I don't need this */
	/*margin-top: 15px;*/
}

.signupButton {
	margin-top: 10px;
}

.signup-control {
	margin-top: 10px;
}

#deathToll {
	text-align: center;
}

.datepicker {
	margin-top: 0;
}

.errorMessage {
	padding-top: 5px;
}

#registrationErrorsDiv {
	text-align: center;
}

#indexTopStory {
	text-align: center;
}

#storyImageDiv {
	text-align: center;
}

#storyImage {
	max-width: 100%;
}

#storySummary {
	margin-top: 10px;
}

.pageHeader {
	padding-top: 0;
	margin-top: 0;
}

.pageHeader h1 {
	padding-top: 0;
	margin-top: 0;
}